<!doctype html>
<html>


    <head>
        <meta charset="UTF-8">
        <title>Uber</title>
        <link rel="stylesheet" href="../static/css/main.css">
               
    </head>
    <body>
        <div class="wrapper">
            <div class="header"">
                <img class="logo" src="../static/img/uber.png">
            </div>
            <div class="sign">
                <div class="sign_title">
                        <div class="title1 tFormat">Sign Up to Ride</div>
                        <div class="title2 tFormat">Safe, reliable rides in minutes</div>
                </div>
                <div class="sign_form">
                    <form action="/action_page.php" class="">
                        <div class="name_posn">
                            <label for="firstName" class="lbl">First Name</label>
                            <div class="input_view">
                                    <input name="firstName" type="text" value="" class="inputBox name_width" placeholder="First name" autocorrect="on" autocapitalize="words">
                            </div>
                        </div>
                        <div class="name_posn">
                            <label for="LastName" class="lbl">Last Name</label>
                            <div class="input_view">
                                    <input name="lastName" class="inputBox name_width" type="text" value="" class="_dd" placeholder="Last name" autocorrect="on" autocapitalize="words">
                            </div>
                            
                        </div>

                        <div class="sm" style=" position:  relative; top: 12px;">
                            <label for="mobile" class="lbl">Enter your phone number (required) </label>
                            
                            <div class="input_view view" style="display: flex;">
                                    <div>
                                            <div aria-label="Select your country code" class="arrow" style="">▾</div>   
                                        <select aria-hidden="true" class="country" name="countryCode">
                                                    <option role="option" selected="" value="1">+1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Dominican Republic</option>
                                                    <option role="option" selected="" value="1">+1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Canada</option>
                                                    <option role="option" value="7">+7&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Russia</option>
                                                    <option role="option" value="7">+7&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Kazakhstan</option>
                                                    <option role="option" value="20">+20&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Egypt</option>
                                                    <option role="option" value="27">+27&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; South Africa</option>
                                                    <option role="option" value="30">+30&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Greece</option>
                                                    <option role="option" value="31">+31&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Netherlands</option>
                                                    <option role="option" value="32">+32&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Belgium</option>
                                                    <option role="option" value="33">+33&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; France</option>
                                                    <option role="option" value="34">+34&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Spain</option>
                                                    <option role="option" value="36">+36&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Hungary</option>
                                                    <option role="option" value="39">+39&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Italy</option>
                                                    <option role="option" value="39">+39&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Vatican City</option>
                                                    <option role="option" value="40">+40&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Romania</option>
                                                    <option role="option" value="41">+41&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Switzerland</option>
                                                    <option role="option" value="43">+43&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Austria</option>
                                                    <option role="option" value="44">+44&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Jersey</option>
                                                    <option role="option" value="44">+44&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Guernsey</option>
                                                    <option role="option" value="44">+44&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Isle of Man</option>
                                                    <option role="option" value="44">+44&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; United Kingdom</option>
                                                    <option role="option" value="45">+45&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Denmark</option>
                                                    <option role="option" value="46">+46&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Sweden</option>
                                                    <option role="option" value="47">+47&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Norway</option>
                                                    <option role="option" value="47">+47&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Svalbard and Jan Mayen</option>
                                                    <option role="option" value="48">+48&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Poland</option>
                                                    <option role="option" value="49">+49&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Germany</option>
                                                    <option role="option" selected="" value="256">+256&nbsp;&nbsp;&nbsp;&nbsp; Uganda</option>

                                        </select>    
                                        </div>
                                <div>        
                                    <input name="phoneNumber" type="tel" value="" class="inputBox smr_width" placeholder="Phone number">
                                </div>    
                                
                            </div>
                            <img src="../static/img/mobile-alt.svg" class="location">
                            
                        </div>
                        <div class="sm">
                            <label for="email" class="lbl">Enter your email (required)</label>
                           
                            <div class="input_view">
                                <input name="email" type="email" value="" class="inputBox sm_width" placeholder="Email" autocorrect="on" autocapitalize="words">

                            </div>
                            <img src="../static/img/envelope.svg" class="location">                            
                        </div>
    
                        <div class="sm">
                            <label for="password" class="lbl">Enter a password (required) </label>
                            <div class="input_view">
                                <input name="password" type="password" value="" class="inputBox sm_width" placeholder="Password">
                                
                            </div>
                            <img src="../static/img/lock.svg" class="location">
                                                        
                        </div>
                        <div class="promo">
                            <a class="ee promo" type="button">Add a promo code</a>
                        </div>
                        <button class="button_specs" type="submit">Sign Up</button> 
                        <div class="terms">
                            By clicking "Sign Up", you agree to Uber
                            <a class="tc" href="#">Terms of Use</a> 
                            and acknowledge you have read the 
                            <a class="tc" href="#">Privacy Policy</a>.
                        </div>                      
                    </form>                    
                </div>
            </div>
            <div class="bottom">
                <img class="footer" src="../static/img/footer_2.svg" style="width: 1580px; height: 200px;">
            </div>

        </div>

        </div>
    </body>
</html>
